@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime

@if (FullScreen)
{
    <div id="@Model.Id" style="width: 100%; height: @(FullScreenHeight)vh; display: flex;"></div>
}
else
{
    <div id="@Model.Id" style="width: @(Width)px; height: @(Height)px; border: 1px solid #A4A4A4;"></div>
}

@functions {

    [Parameter]
    public MonacoEditorModel Model { get; set; }

    [Parameter]
    public int Width { get; set; } = 800;

    [Parameter]
    public int Height { get; set; } = 600;

    [Parameter]
    public bool FullScreen { get; set; }

    [Parameter]
    public int FullScreenHeight { get; set; } = 100;

    private bool _alreadyRendered = false;

    private MonacoEditorJsInterop _monacoEditorJsInterop;

    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (!_alreadyRendered)
        {
            _monacoEditorJsInterop = JSRuntime.MonacoEditor();
            if (_monacoEditorJsInterop is { })
                _alreadyRendered = await _monacoEditorJsInterop.InitializeEditorAsync(Model);
        }
    }

    public async Task<string> GetValue()
    {
        if (_monacoEditorJsInterop is { })
            return await _monacoEditorJsInterop.GetValueAsync(Model.Id);
        return "";
    }

    public async Task<bool> SetValue(string newValue)
    {
        if (_monacoEditorJsInterop is { })
            return await _monacoEditorJsInterop.SetValueAsync(Model.Id, newValue);
        return false;
    }

    public async Task<bool> SetTheme(string newTheme)
    {
        if (_monacoEditorJsInterop is { })
            return await _monacoEditorJsInterop.SetThemeAsync(Model.Id, newTheme);
        return false;
    }
}
