@page "/"

<h1>Hello, Flow!</h1>

<Debug>
    <FlowError Show="true" ThrowOnException="false"></FlowError>
</Debug>

<Debug><div>Hello Debug</div></Debug>

<Release><div>Hello Release</div></Release>


<IfStringIsNullOrEmpty Value="@Text">
    <LogTrace Message="Text is null"></LogTrace>
</IfStringIsNullOrEmpty>

@(Text = "1");
<IfNotStringIsNullOrEmpty Value="@Text">
    <LogTrace Message="Text is not null"></LogTrace>
</IfNotStringIsNullOrEmpty>

<Log Message="@($"{DateTime.Now} Log")"></Log>

<Log LogLevel="Microsoft.Extensions.Logging.LogLevel.Debug" Message="@($"{DateTime.Now} Log LogLevel")"></Log>

<LogCritical Message="@($"{DateTime.Now} LogCritical")"></LogCritical>
<LogDebug Message="@($"{DateTime.Now} LogDebug")"></LogDebug>
<LogError Message="@($"{DateTime.Now} LogError")"></LogError>
<LogInformation Message="@($"{DateTime.Now} LogInformation")"></LogInformation>
<LogTrace Message="@($"{DateTime.Now} LogTrace")"></LogTrace>
<LogWarning Message="@($"{DateTime.Now} LogWarning")"></LogWarning>


@if (true)
{
    <div>if value is true</div>
}


<If Value="true">
    <div>if value is true</div>
</If>



<If Value="false">
    <div>if value is false</div>
</If>

<IfNot Value="false">
    <div>ifNot value is false</div>
</IfNot>

<IfThen>
    <div>IfThenElse Value is true</div>
</IfThen>

<IfThenElse Value="true">
    <IfThen>
        <div>IfThenElse Value is true</div>
    </IfThen>
    <IfElse>
        <div>{IfElse if value is true</div>
    </IfElse>
</IfThenElse>

<IfThenElse Value="false">
    <IfThen>
        <div>IfThenElse if Value is false</div>
    </IfThen>
    <IfElse>
        <div>IfElse if Value is false</div>
    </IfElse>
</IfThenElse>

@if (false)
{
    <div>IfThenElse if Value is false</div>
}
else
{
    <div>IfElse if Value is false</div>
}

@switch (DateTime.Now.DayOfWeek)
{
    case DayOfWeek.Monday:
        {
            <div>Monday</div>
            break;
        }
    case DayOfWeek.Sunday:
        {
            <div>Sunday</div>
            break;
        }
}

<Switch Value="DateTime.Now.DayOfWeek">
    <Case Value="DayOfWeek.Monday">
        Monday
    </Case>
    <Case Value="DayOfWeek.Sunday">
        Sunday
    </Case>
    <Case Value="DateTime.Now">
        Sunday
    </Case>
</Switch>



<div>
    Welcome to your new app.
</div>

@code
{
    string Text { get; set; } = null;
}


