@page "/testplay"

<h1>Play</h1>

<Expander Header="Test">
</Expander>

<span aria-hidden="true">&times;</span>
<span aria-hidden="true">&epsilon;</span>
&times;&epsilon;&#9651;&#9661;

<Div>

</Div>


<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" checked> Active
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> Radio
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3"> Radio
    </label>
</div>

@{Console.WriteLine("Console"); }
<LogConsole Message="@(()=> "Hello")"></LogConsole>

@*<LogConsole ForegroundColor="ConsoleColor.White" BackgroundColor="ConsoleColor.Black"></LogConsole>
    @{Console.WriteLine("Console"); }
    <LogConsole Message="@(()=>"LogMessage Yellow on Red ColorMessageOnly = true")" ForegroundColor="ConsoleColor.Yellow" BackgroundColor="ConsoleColor.Red" />
    @{Console.WriteLine("Blank1"); }
    <LogConsole Message="@(()=>"LogMessage Yellow on Red ColorMessageOnly = false")" ForegroundColor="@ConsoleColor.Yellow" BackgroundColor="ConsoleColor.Red" ColorMessageOnly="false" />
    @{Console.WriteLine("Blank2"); }
    <LogConsole Message="@(()=>"LogMessage White on Black ColorMessageOnly = true")" />
    @{Console.WriteLine("Blank3"); }*@

<Button IsBlock="true" IsOutLine="true">
    Test
</Button>

@code {
    int Swtich1Value = 0;
    string abc = "abc";
}

<Switch Value="@DateTime.Now.DayOfWeek">
    <Case Value="@abc">
    </Case>
</Switch>


<Case Value="@abc">
</Case>

<button class="btn btn-primary" @onclick="@(() => testDay= testDay.AddDays(1))">Inc Date</button>
@code{ DateTime testDay = DateTime.Now;}
<Switch Value="@testDay.DayOfWeek">
    <Case Value="DayOfWeek.Monday">Monday</Case>
    <Case Value="DayOfWeek.Tuesday">Tuesday</Case>
    <Case Value="DayOfWeek.Wednesday">Wednesday</Case>
    <Case Value="DayOfWeek.Thursday">Thursday</Case>
    <Case Value="DayOfWeek.Friday">Friday</Case>
    <Case Value="DayOfWeek.Saturday">Saturday</Case>
    <Case Value="DayOfWeek.Sunday">Sunday</Case>
</Switch>



