@page "/testplay"

<h1>Play</h1>


@code {
    int Swtich1Value = 0;
    string abc = "abc";
}


<Switch Value="@DateTime.Now.DayOfWeek">
    <Case Value="@abc">
    </Case>
</Switch>

 
<Case Value="@abc">
</Case>

<button class="btn btn-primary" @onclick="@(() => testDay= testDay.AddDays(1))">Inc Date</button>
@code{ DateTime testDay = DateTime.Now;}
<Switch Value="@testDay.DayOfWeek">
    <Case Value="DayOfWeek.Monday">Monday</Case>
    <Case Value="DayOfWeek.Tuesday">Tuesday</Case>
    <Case Value="DayOfWeek.Wednesday">Wednesday</Case>
    <Case Value="DayOfWeek.Thursday">Thursday</Case>
    <Case Value="DayOfWeek.Friday">Friday</Case>
    <Case Value="DayOfWeek.Saturday">Saturday</Case>
    <Case Value="DayOfWeek.Sunday">Sunday</Case>
</Switch>



