@page "/testplay"
<h1>Play</h1>


<ForEach Items="@(new List<string> { "a", "b", "c", "d"})" Context="foreach1">
    <div>A @foreach1.Index @foreach1.Item</div>
    <If Value="@(foreach1.Item!= "b")">
        <div>B @foreach1.Index @foreach1.Item</div>
    </If>
</ForEach>

@*<While Condition="@(()=> true)">
        @{
            whileContext = context;
        }
        <div>@whileContext.Index</div>
        <If Condition="@IsIf">
            @{whileContext.Break();
            }
        </If>
    </While>*@

@code{
    WhileContext whileContext;

    bool IsIf()
    {
        var b = whileContext.Index > 5;
        return b;
    }
}



