@page "/testplay"
<h1>Play</h1>

<div>
    <button class="btn btn-primary" type="button">1</button>

    <If Value="@true">
        Hallo
    </If>


    <IfAny Value="new List<int> {1,2 }">
    </IfAny>


    <IfNot Value="@false">

    </IfNot>

    <If Value="@true">
        <div>If: Value="true"</div>
    </If>

    <If Value="@true">
        <Then>
            <div>If.Then:Value="true"</div>
        </Then>
    </If>
    <If Value="@false">
        <Else>
            <div>If.Else:Value="false"</div>
        </Else>
    </If>


    <IfNot Value="@false">
        1
    </IfNot>
    <IfNot Value="@false">
        <Then>
            2
        </Then>
        <Else>
            3
        </Else>
    </IfNot>
    <IfNot Value="@false">
        <Then>
            4
        </Then>
    </IfNot>
    <IfNot Value="@false">
        <Else>
            5
        </Else>
    </IfNot>
</div>


